body, nav, footer {
    background-color: #121212;
    color: #e0e0e0;
}

.nav-link, .download-resume {
    color: #e0e0e0;
}

section {
    border-top: 1px solid #333;
}

.download-resume {
    background-color: #333;
}
