body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #202020;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

.project {
    margin-bottom: 2rem;
}

footer {
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 600px) {
    nav ul {
        font-size: 0.8em;
    }
}
